.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  box-shadow: inset 0 0 0 50vw rgb(68 53 62 / 30%);
  animation: fadeIn 1s;
}

.section-title {
  font-family: 'Roboto';
  font-size: 30px;
}

.splash-overlay {
  margin: 0;
  font-family: 'Roboto';
  color: white;
  font-size: 4vw;
  position: absolute;
  top: 50%;
  animation: fadeIn 2s;
}
